= form_for @world do |f|
  - if @world.errors.any?
    #error_explanation
      %h2= "#{pluralize(@world.errors.count, "error")} prohibited this world from being saved:"
      %ul
        - @world.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Please choose a name for your world."
    = f.text_field :name
  .field
    = f.label :x
    = f.select :x, Move.range.map { |r| [r, r] }
  .field
    = f.label :y
    = f.select :y, Move.range.map { |r| [r, r] }
  .actions
    = f.submit 'Save', class: "button expand"
