%p#notice= notice

%p
  %b Name:
  = @world.name
%p
  %b X:
  = @world.x
%p
  %b Y:
  = @world.y

= @world.display_grid

= link_to 'Deploy robot', new_world_robot_path(@world)
%h3 Deployed robots
= @robots.inspect

= link_to "New Move", new_world_robot_move_path(@world, @robot)

%h3 Previous moves
= @moves
