%p#notice= notice

%p
  %b Name:
  = @world.name
%p
  %b X:
  = @world.x
%p
  %b Y:
  = @world.y

/ = @world.display_grid

%h3 Robots
- unless @world.deployed_robot?
  = link_to 'Deploy another robot', new_world_robot_path(@world)

- if @robots.present?
  = render @robots
- else 
  %p No robots have been deployed.


%h3 Moves
- if @world.deployed_robot?
  = link_to "New Move", new_world_robot_move_path(@world, @robot)


- unless @moves.nil?
  %ul
    = render @moves
- else 
  %p No moves have been made.
