%p#notice= notice

= link_to 'Deploy robot', new_robot_path

%p
  %b Name:
  = @world.name
%p
  %b X:
  = @world.x
%p
  %b Y:
  = @world.y

= @world.display_grid

= link_to 'Edit', edit_world_path(@world)
\|
= link_to 'Back', worlds_path
