%h1= @world.name.capitalize
%p 
  = "X: #{@world.x}, Y: #{@world.y}"

%h3= "#{robots(@world)}"
- unless @world.deployed_robot?
  = link_to 'Deploy a robot', new_world_robot_path(@world), class: "button expand"

- if @robots.present?
  %ul.no-bullet
    = render @robots
- else 
  %p No robots have been deployed.


%h3= "#{moves(@world)}"
- if @world.deployed_robot?
  = link_to "New Move", new_world_robot_move_path(@world, @robot), class: "button expand"

- if @moves.present?
  %ul.no-bullet
    = render @moves
- else 
  %p No moves have been made.
