%h1= @world.name.capitalize
%p 
  = "X: #{@world.x}, Y: #{@world.y}"

%h3= "#{robots(@world)}"
- unless @world.deployed_robot?
  = link_to 'Deploy a robot', new_world_robot_path(@world), class: "button expand"

= display_robots(@world)

%h3= "#{moves(@world)}"
- if @world.deployed_robot?
  = link_to "New Move", new_world_robot_move_path(@world, @robot), class: "button expand"

= display_moves(@world)
