= form_for @robot do |f|
  - if @robot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@robot.errors.count, "error")} prohibited this robot from being saved:"
      %ul
        - @robot.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :status
    = f.number_field :status
  .field
    = f.label :planet
    = f.text_field :planet
  .actions
    = f.submit 'Save'
