= form_for [@world, @robot, @move] do |f|
  - if @move.errors.any?
    #error_explanation
      %h2= "#{pluralize(@move.errors.count, "error")} prohibited this move from being saved:"
      %ul
        - @move.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :orientation
    = f.text_field :orientation
  .field
    = f.label :x
    = f.number_field :x
  .field
    = f.label :y
    = f.number_field :y
  .actions
    = f.submit 'Save'
