= form_for [@world, @robot, @move] do |f|
  - if @move.errors.any?
    #error_explanation
      %h2= "#{pluralize(@move.errors.count, "error")} prohibited this move from being received and understood by the robot:"
      %ul
        - @move.errors.full_messages.each do |msg|
          %li= msg

  - if @robot.count_moves.zero?
    .field
      = f.label :orientation
      = f.select :orientation, Move.orientations.map { |o| [o, o] }
    .field
      = f.label :x
      = f.select :x, Move.range.map { |r| [r, r] }
    .field
      = f.label :y
      = f.select :y, Move.range.map { |r| [r, r] }

  - else
    .field
      = label_tag :robot_instruction
      = select_tag :robot_instruction, options_for_select(Move.options.map { |option| [option, option] })

  .actions
    = f.submit 'Save', class: "button expand"
