!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title RedBadger
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    %header
      %nav
        %ul.clearfix
          %li.left
            = image_tag("redbadger_logo.png", size: "34x42", alt: "Red Badger Logo", id: "badger-logo")
          %li.left
            = link_to "Alex Chin", root_path

          %li.right
            = link_to "New", new_world_path

          %li.right
            = link_to "Worlds", worlds_path
    %main
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "alert"
      = yield
    %footer
      %nav
        %ul.clearfix
          %li.left
            &copy;
            = link_to "Alex Chin", "http://www.alexchin.co.uk"
          %li.left
            &middot;
            = link_to "Github", "https://github.com/alexpchin"
